.info {
    font-variant: small-caps;
    line-height: 50%;
    margin-top: 50px;
    .bold {
        font-weight: bold;
    }
    .gray {
        color: rgb(83, 74, 74);
    }
}
h1 {
    color: red;
}