* {
    font-family: 'Palatino Linotype';
}
header {
    padding: 20px;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: center;
    .artists {
        text-transform: uppercase;
        font-size: 11px;
    }
}
main {
    margin: 0 auto;
    width: 400px;
    height: auto;
}
.info {
    font-variant: small-caps;
    line-height: 50%;
    margin-top: 50px;
    .bold {
        font-weight: bold;
    }
    .gray {
        color: rgb(83, 74, 74);
    }
}